_bioclip/
_stale/
log/
*.pyc
*.out
*.err
data
_scripts/
figures/
ALOE_plots/
ALMSP_plots/
all_config/
ALKMS_plots/
0.2_Diffmethod_oracle_AL_plots/
0.2_Diffmethod_accum_AL_plots/
0.1_Diffmethod_accum_AL_plots/
pretrained_weights/
.vscode/launch.json
*.json
*.txt
*.csv
*.output
*.out
*.yaml
*.png
*.log
*.wandb
latest-run
config/
*.err
# Additional patterns for SLURM job outputs
slurm-*.out
slurm-*.err
*.err
*.out
compare_eval.py
.vscode/launch.json
run_pipeline_2.py
extract_train_log/extract_ub_log.py
extract_train_log/merge_to_main.py
other_codes/merge_train_log_csv.py
benchmark_logs/icicle
plot.py
plot_2d.py
script.py
run_pipeline_2.py

_bioclip/
_stale/
log/
logs/
*.pyc
*.out
*.err
data
_scripts/
figures/
pretrained_weights/
.vscode/launch.json
*.json
*.txt
*.csv
*.output
*.out
*.yaml
*.png
*.log
*.wandb
latest-run
config/
*.err
# Additional patterns for SLURM job outputs
slurm-*.out
slurm-*.err
*.err
*.out
compare_eval.py
.vscode/launch.json
run_pipeline_2.py
extract_train_log/extract_ub_log.py
extract_train_log/merge_to_main.py
other_codes/merge_train_log_csv.py
benchmark_logs/icicle
AUC_CURVE_DOCUMENTATION.md
create_auc_curves.py
sbatch_run_1_acc.sh
extract_train_log/compare_dataset_list.py
extract_train_log/extract_final_logs.py
extract_train_log/extract_final_ub.py
